
<div class='container '>
  <h1 class=''>List of Users</h1>
  <% @users.each do |user| %>
    <%= link_to user_show_path(user.id), class: 'nav-link' do %>
      <div class='row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative'>
        <div class='col-auto d-none d-lg-block'>
          <%= image_tag(user.photo) %>
        </div>
        <div class='col p-4 d-flex flex-column position-static'>
          <h2 class='card-title'><%= link_to user.name , user_show_path(user.id) %></h2>
          <p class= ''> Number of Posts: <%= user.posts_counter %></p>
        </div>
      </div>
      <br/>
    <% end %>
  <% end %>
</div>
